In [11]:
import pandas as pd
import itertools
from itertools import combinations

In [2]:
data_grid = [
    ["Medical","Social Media","Real Estate","Humanities","Job Recruitment","Public Affairs"],
    ["B2B","B2C"],
    ["Yes","No"],
    ["Multinational","Single"],
    ["Yes","No"],
    ["Yes","No"]
]

In [4]:
possible_data = list(itertools.product(*data_grid))

In [6]:
input_data = pd.DataFrame(possible_data,columns=["Company Domain","Company Type","Conducts research",
                                                "Company scope","Accepts user input","Publicly listed"])

In [8]:
input_data.head()

,Company Domain,Company Type,Conducts research,Company scope,Accepts user input,Publicly listed
0,Medical,B2B,Yes,Multinational,Yes,Yes
1,Medical,B2B,Yes,Multinational,Yes,No
2,Medical,B2B,Yes,Multinational,No,Yes
3,Medical,B2B,Yes,Multinational,No,No
4,Medical,B2B,Yes,Single,Yes,Yes

In [9]:
input_data.to_csv("company_types.csv",index=None)

In [12]:
diversity_aspects = [
    "DEI cell",
    "Multi-language support",
    "Uses input data from multiple communities",
    "Representation in board members",
    "Moderation against targeted hate",
]

diversity_aspects = ["Inputs","Leadership","Raw data"]
D1: Inputs, Leadership, Raw data
D2: Inputs, Leadership
D3: Inputs, Raw data
D4: Leadership, Raw data
D5: Inputs
D6: Leadership
D7: Raw data

In [13]:
accessibility_aspects = [
    "Wheelchair accessible entrances",
    "Screen readers and other visual aids",
    "Due compensation and facilities",
    "Accommodations for specially abled people"
]

accessibility_aspects = ["Physical","Inputs"]
A1: Physical, Inputs
A2: Inputs
A3: Physical

In [14]:
def generate_possibilities(input_list):
    return sum([list(map(list, combinations(input_list, i))) for i in range(len(input_list) + 1)], [])

In [18]:
df = pd.read_csv("company_types.csv")
df.head()

    Domain  Customer  Research  Tech  Input  Listed  Diversity  Accessibility
0  Medical         0         1     1      1       1          4              2
1  Medical         0         1     1      1       0          7              2
2  Medical         0         1     1      0       1          4              2
3  Medical         0         1     1      0       0          7              2
4  Medical         0         1     0      1       1          4              2

In [21]:
domains = df.Domain.unique()
domain_dict = dict(zip(domains, range(1,len(domains)+1)))

In [22]:
domain_dict

{'Medical': 1,
 'Social Media': 2,
 'Real Estate': 3,
 'Humanities': 4,
 'Job Recruitment': 5,
 'Public Affairs': 6,
 'Education': 7}

In [23]:
df["Domain"] = df["Domain"].replace(domain_dict)

In [28]:
df_di = df.drop(["Accessibility"],axis=1)
df_di.to_csv("di_feature_data.csv",index=None)

In [29]:
df_a = df.drop(["Diversity"],axis=1)
df_a.to_csv("acs_feature_data.csv",index=None)